<div
  style="
    background-color: cadetblue;
    color: #f7f7f7;
    width: 100vw;
    height: 10vh;
  "
  class="d-flex justify-content-center align-items-center"
>
  <div
    class="d-flex align-items-center"
    style="width: 50vw; justify-content: space-around; color: #fff"
  >
    <a href="admin" style="color: #fff"> New adhar</a>
    <a href="edit-adhar" style="color: #fff"> Edit adhar</a>
  </div>
  <div
    class="d-flex align-items-center"
    style="width: 50vw; color: #fff; justify-content: space-around"
  >
    <a routerLink="queries" style="color: #fff"> Queries</a>
    <a style="color: #fff" routerLink="feedback"> FeedBack</a>
    <a routerLink="logout" style="color: #fff"> logout </a>
  </div>
</div>
